{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin II Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain
        from the dragon Smaug.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin II "Oakenshield", eventually called King under the Mountain or Mountain King[1], was the son of
                Thráin II, the older brother of Frerin and Dís, the grandson of King Thrór and the uncle of Fíli and
                Kíli. Thorin was best known for his deeds as leader of a company that infiltrated the lost Kingdom under
                the Mountain to take it back from Smaug and for leading an alliance of Men, Dwarves, and Elves in the
                Battle of Five Armies.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                Fíli and Kíli were brothers, the youngest of the thirteen Dwarves who set out with Thorin Oakenshield's
                company, along with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from the dragon Smaug.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Óin</h3>
            <p>
                Óin was a dwarf of Durin's Folk known for being a part of Thorin's Company in the Quest of Erebor.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/e8/Oin.jpg" alt="">
        </div>
    </div>
{% endblock %}

